<!-- Hero Section: Displays the heading and description of the plant collection -->
<div>
  <h1 class="font-bold text-4xl">Our Plant Collection</h1>
  <p class="text-gray-600 mt-2">Hover over a plant for more details.</p>
</div>

<!-- Search and Filter Section -->
<div class="my-6">
  <%= form_tag plants_path, method: :get, class: "flex gap-4 flex-col
  sm:flex-row" do %>
  <!-- Search Field: Allows users to search for plants by name -->
  <%= text_field_tag :search, params[:search], class: "rounded-lg border p-3
  flex-1", placeholder: "Search plants..." %>

  <!-- Category Dropdown: Allows users to filter plants by category -->
  <div class="rounded-lg border p-3 bg-white">
  <%= select_tag :category, options_for_select(['All Categories', 'Indoor',
  'Outdoor', 'Succulents', 'Herbs'], params[:category])%>
  </div>

  <!-- Search Button: Submits the form to search/filter plants -->
  <%= submit_tag "Search", class: "px-4 py-2 bg-emerald-600 text-white
  rounded-lg hover:bg-emerald-700" %> <% end %>
</div>

<!-- Grid Section: Displays the plants in a grid layout -->
<section>
  <div class="container py-2 lg:pt-8">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <!-- Check if there are plants to display -->
      <% if @plants.any? %> <% @plants.each do |plant| %>
      <div class="p-2">
        <div class="relative group">
          <!-- Display plant image with placeholder if not available -->
          <%= image_tag plant.image_url.presence || "placeholder_plant.jpg",
          class: "block h-64 w-full rounded-lg object-cover object-center
          border" %>

          <!-- Plant details that appear on hover -->
          <div
            class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-100 transition-opacity duration-200 rounded-lg flex items-center justify-center"
          >
            <div class="text-center">
              <!-- Plant name and category -->
              <h3 class="text-white font-semibold text-lg">
                <%= plant.name %>
              </h3>
              <p class="text-gray-200"><%= plant.category %></p>

              <!-- Link to plant details page -->
              <div class="mt-4">
                <%= link_to plant_path(plant), class: "rounded-md bg-gray-100
                px-3 py-1.5 text-xs font-medium text-teal-600 transition
                hover:text-teal-600/75" do %> View Details <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- If no plants are found, show a message indicating no results -->
      <% else %>
      <p class="text-gray-600">
        No plants found matching your search or category filter.
      </p>
      <% end %>
    </div>
  </div>
</section>
